<!-- app/views/home/index.html.erb -->
<h1>Welcome to the Archive Info Manager</h1>

<%= link_to 'New Archive', new_archive_path, class: 'btn btn-primary', role: 'button' %>
<%= link_to 'View Archives', archives_path, class: 'btn btn-secondary', role: 'button' %>
