
.button {
    padding: 14px 18px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.buttonBlue {
    background: linear-gradient(#39A7FF , #0e5d9c);
}

.buttonOrange {
    background: linear-gradient(#FB6D48 , #d4202c);
}

.cardWhite {
    background: linear-gradient(#f7f7f7 , #d0cbcb4f);
    border-radius: 10px;
    color: black;
    word-wrap: normal;
}

.cardWhiter {
    background: linear-gradient(#f7f7f7 , #dcd7d7);
    border-radius: 10px;
    color: black;
    word-wrap: normal;
}

.center {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px 0px 32px 0px;
    font-size: 5rem;
    text-align: center;
    background-color: rgba(18, 17, 46, 0.7);
    border-radius: 2rem;
    margin-top: 16px ;
}

.darkScreen {
    background-color: rgba(18, 17, 46, 0.7);
}

.ForBtn {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
}

.sub {
    text-align: center;
    font-size: large;
    padding: 0px 12px
}

body {
    
    background-image: url("museum.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    background-image: url("museum.jpg");
    background-attachment: fixed;
}

div {
    color: white;
}

.icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 64px;
    width: fit-content;
    align-items: center;
}

.Ur {
    text-decoration: underline;
}

.Profile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    align-items: left;
    padding: 32px 0px 12px 8px;
    text-align: left;
    background-color: rgba(18, 17, 46, 0.7);
    border-radius: 2rem;
    margin-top: 8px ;
}

.centerLeftForInputs {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin: 0px 0px 12px 0px;
    border: 0px;
    border-radius: 0px 0px 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    background-color: rgba(18, 17, 46, 0.7);
}

.Cirar {
    background-color: rgba(18, 17, 46, 0.7);
    margin: 0px;
    border: 0px;
    padding: 12px 10px;
    margin-top: 8px;
    border-radius: 1rem 1rem 0px 0px;
}

.login {
    padding: 12px 18px;
    text-align: center;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: left;
    padding: 12px 18px;
    text-align: left;
}

.each{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-content: center;
}
